.tu-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.tu-container .form-container, .table-container {
  border: 2px solid #198833;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.tu-container h1, h2 {
  color: #333;
}

.tu-container label {
  display: block;
  margin-top: 10px;
}

.tu-container input[type="text"], textarea, .tu-container input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.tu-container .switch {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.tu-container .save-button, .cancel-button, .edit-button, .delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tu-container .edit-button {
  background-color: #d9d9d9;
  color: black;
}

.tu-container .save-button {
  background-color: #03D069;
  color: white;
}


.tu-container .cancel-button, .delete-button {
  background-color: black;
  color: white;
  margin-left: 10px;
}

.tu-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tu-container th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tu-container .img-thumbnail {
width: 50px;
border: 2px solid #ddd;
border-radius: 5px;
margin-right: 10px;
}


.tu-container .toggle-container {
  display: inline-block;
}

.tu-container .toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.tu-container .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tu-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.tu-container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.tu-container input:checked + .slider {
  background-color: #03D069; /* สีเขียวเมื่อเปิด */
}

.tu-container input:checked + .slider:before {
  transform: translateX(26px); /* เลื่อนไปขวาเมื่อเปิด */
}