.checkorder-container .input-group-text {
    background-color: #007bff;
    color: white;
    font-size: 15px;
  }

  .checkorder-container .form-control {

  }
  
  .checkorder-container .form-control::placeholder {
    font-size: 15px;
  }

  .checkorder-container .form-select {
    border-radius: 0.55rem;
    min-width: 150px;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: #eeeeee; 
    font-size: 15px;
    color: #374151; 
  }
  
  .checkorder-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .checkorder-container .table th, .table td {
    vertical-align: middle;
  }
  
  .checkorder-container .table th {
    background-color: #343a40;
    color: white;
    text-align: center;
  }
  
  .checkorder-container .table td {
    text-align: left;
  }
  
  .checkorder-container .btn {
    transition: all 0.2s ease-in-out;
  }
  
  .checkorder-container .btn:hover {
    transform: scale(1.05);
  }
  