.details-container {
  width: 90%;
  margin: 1rem auto;
  /* border: 4px solid #198833; */
  border-radius: 5px;
  padding: 1rem;
  font-family: "Prompt", sans-serif;
  justify-content: center;
}

.details-container .file-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  
}

.details-container .file-container div {
  text-align: center;
  justify-items: center;
}

.details-container .file-container img {
  width: auto;
  height: auto;
  text-align: center;
  
}

.details-container .button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.details-container .button-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .details-container {
    width: 100%;
    border: 2px solid #198833;
    padding: 1rem;
  }

  .details-container .file-container {
    grid-template-columns: 1fr;
  }

  .details-container .button-container {
    flex-direction: column;
  }

  .details-container .button-container button {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .details-container {
    width: 90%;
  }

  .details-container .file-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
