.about-us-management {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/*  h2 {
  color: #000000;
} */

.about-us-management .form-section {
 
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #66bb6a;
}

.about-us-management .form-group {
  margin-bottom: 15px;
}

.about-us-management .form-check label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
}

.about-us-management input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #c8e6c9;
  border-radius: 4px;
}

.about-us-management input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.about-us-management .image-preview {
  display: block;
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.about-us-management .save-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #03D069;
  color: white;
}

.about-us-management .cancel-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  margin-left: 10px;
}

.about-us-management .data-section {
  
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #66bb6a;
}

.about-us-management .data-section table {
  width: 100%;
  border-collapse: collapse;
}

.about-us-management .data-section th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  
}

/*   th {
  
  color: rgb(5, 5, 5);
} */

.about-us-management .thumbnail {
  width: 50px;
  height: auto;
}

.about-us-management .data-section .delete-button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.about-us-management .todo-filters-container {
  display: flex;
  padding: 0.5rem;
  
}



