.about-us-management {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
 /*  h2 {
    color: #000000;
  } */
  
  .form-section {
    background-color: #f0fdf4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid #66bb6a;
  }
  
  .edit-about-us-management .form-group {
    margin-bottom: 15px;
  }
  
  .edit-about-us-management .form-check label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  .edit-about-us-management .form-group input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #c8e6c9;
    border-radius: 4px;
  }
  
  .edit-about-us-management .form-group input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  
  .image-preview {
    display: block;
    width: 100px;
    height: auto;
    margin-top: 10px;
  }
  
  .save-button {
    background-color: #2e7d32;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .cancel-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .data-section {
    background-color: #f0fdf4;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #66bb6a;
  }
  
  .data-section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-section th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
  }
  
/*   th {
    
    color: rgb(5, 5, 5);
  } */
  
  .thumbnail {
    width: 50px;
    height: auto;
  }
  
  .data-section .delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .todo-filters-container {
    display: flex;
    padding: 0.5rem;
    
  }



  