.review-container {
  padding: 20px;
  background-color: #f8f9fa;
  border: 2px solid #198833;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-container .table th, .table td {
  vertical-align: middle;
}

.review-container .table th {
  background-color: #343a40;
  color: white;
  text-align: center;
}

.review-container .table td {
  text-align: left;
}

.review-container .btn {
  transition: all 0.2s ease-in-out;
}

.review-container .btn:hover {
  transform: scale(1.05);
}
