.sidebar {
    position: relative;
    min-width: 250px;
    width: 250px;
    background-color: #2a822a;
    color: white;
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s;
}

.sidebar.toggle {
    position: relative;
    margin-left: -250px;
    width: 250px;
    background-color: #2a822a;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s;
}

.sidebar-logo {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    list-style: none;
    color: white;
    transition: 0.4s;
    text-decoration: none;
    border-radius: 10px;
}

.active {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    list-style: none;
    color: white;
    transition: 0.4s;
    text-decoration: none;
    padding: 10px 15px;
    /* background-color: #4aff4a; */
    background-color: #4aff4a;
    border-radius: 10px;
}

.menu-item:hover {
    padding: 10px 15px;
    background-color: #4aff4a;
    border-radius: 10px;
}

.sidebar-logout {
    position: absolute;
    bottom: 20px;
    width: 210px;
    cursor: pointer;
    padding: 20px 10px;
    color: white;
    text-align: center;
    margin-bottom: auto;
    background-color: rgb(252, 67, 67);
    border-radius: 10px;
}
