.price-management {
    padding: 20px;
  }
  
  .price-management .price-table {
    border: 3px solid #006400;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .price-management table {
    width: 100%;
    border-collapse: collapse;
  }

  .price-management .price-table button {
    background-color: #6c757d86;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .price-management th, .price-management td {
    padding: 10px;
    text-align: left;
    
  }

  .price-management th, .price-management td input {
    border-radius: 5px;
    
  }