*{
    transition: 0.5s;
}

.container-fluid .form-select{
    min-width: 150px;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: #f9fafb; 
    font-size: 15px;
    color: #374151; 
}

.container-fluid .form-select>option{
    background-color: #f9fafb; 
}

.container-fluid .second {
    transition: 0.6s;
    cursor: pointer;
    background-color: green;
}

.container-fluid .text {
    font-weight: bolder;
    font-size: 18px;
    color: white;
}

.container-fluid .detail {
    font-weight: bolder;
    /* color: rgb(186, 186, 186); */
    color: greenyellow;
}

.container-fluid .second:hover {
    background-color: rgb(255, 255, 255);
}

.container-fluid .second:hover .text {
    color: black
}

.container-fluid .second:hover .detail {
    color: green;
}

.container-fluid .card-body {
    transition: opacity 0.5s ease-in-out;
}

