@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-approve {
  gap: 1rem;
  width: 1404px;
  height: 154px;
  margin: 0 auto;
  border: 3px solid #198833;
  border-radius: 10px;
  text-align: left;
  font-family: 'Prompt', sans-serif;
}

.text-approve {
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.context-approve {
    margin: 1rem;
    font-size: 18px;
    font-weight: semi-bold;
}

.input-approve {
    width: 833px;
    height: 33px;
    border-radius: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    
}

.unit {
    margin-left: 8px;
}

/* CSS สำหรับปุ่มแก้ไข */
.edit-button {
    background-color: #D9D9D9; /* สีเทา */
    color: black; /* สีตัวอักษรเป็นสีดำ */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    height: 40px; 
}

.edit-button:hover {
    background-color: #bfbfbf; /* สีเข้มขึ้นเล็กน้อยเมื่อเอาเมาส์ไปวาง */
}

/* CSS สำหรับปุ่มยืนยัน */
.save-button {
    background-color: #03D069; /* สีเขียว */
    color: white; /* สีตัวอักษรเป็นสีขาว */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    height: 40px;
}

.save-button:hover {
    background-color: #02b85c; /* สีเข้มขึ้นเล็กน้อยเมื่อเอาเมาส์ไปวาง */
}


.box-approve {
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

.button-container {
    margin-left: 1rem;  
}